:root{
    --black: #000000;
    --white: #fff;
    --text-color: #626262;
    --grey: #7D7D7D;
    --light-grey: #B4AD9E;
    --acent: #03A9F4;
    --button: #2196F3;
}

.container{
    width: 1600px;
    margin: 0 auto ;
    padding: 0 15px 0 15px;
    border:1px solid orangered;
}

body{
    color: var(--text-color);
    background-color: var(--white);
    font-family: "Roboto";
    font-weight: 700;
    line-height: 1.17px;
    font-size: 16px;
}

.header{
    background-color: var(--white);
}

.header_wrap{
    display: flex;
    flex-direction: row;
    padding: 25px 0px;
}

.navigation{
 font-family: "Roboto", sans-serif;
 
}

.projects{

}

.team{

}

a{
text-decoration: none;
}

ul{
list-style: none;
}


.btnhero{
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.85px;
    background-color: var(--button);
    color: var(--white);

}

.footer{

}

.logo{
    color: var(--black);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    size: 26px;
    letter-spacing: 3;
}