:root {
    --nav-black: #212121;
    --accent: #2196F3;
    --footer-bcg: #2F303A;
    --page-color: #ffffff;
    --main-text-color: #212121;
    --paragraf-color: #ffffff;
    --adress-color: #757575;
    --down-section: #F5F4FA;
    --just-black: #000000;
    --border-portfolio: #eee;
    --border-header: #ECECEC;
    --btn-text-color: #ffffff;
  }

  *{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1, h2, h3, h4, p, ul, li, img, a{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 0 auto ;
    padding: 0 15px 0 15px;
    border:1px solid orangered;
}

body{
    color: var(--text-color);
    background-color: var(--white);
    font-family: "Roboto";
    font-weight: 700;
    line-height: 1.17;
    font-size: 16px;
}

.header{
    background-color: var(--white);
}

.header-wrap{
    display: flex;
    align-items: center;
    padding: 25px 0px;
}

.header-logo{
    color: var(--just-black);
    margin-right: 60px;
    margin-left: 70px;
}

.header-logo span{
    color: var(--accent);
}

.nav-header{
    display: flex;
    font-family: "Roboto", sans-serif;
}

.header-list{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 344px;
}

.header-item{
  
}

.header-item-link{
    display: flex;
    justify-content: center;
    color: var(--nav-black);
}

.header-item-link:hover{
    color: var(--accent);
}

.header-contact{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-contact-item{

}

.header-contact-item-link1{
    color: var(--adress-color);
}

.header-contact-item-link1:hover{
    color: var(--accent);
}

.header-contact-item-link{
    color: var(--adress-color);
}

.main{

}

.hero{

}

.main-title{
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.btnhero{
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.85px;
    background-color: var(--accent);
    color: var(--btn-text-color);
}

.details{

}

.details-list{

}

.details-list-item{

}

.details-title{

}

.details-text{

}

.projects{

}

.title2{

}

.images{

}

.projects-img{

}

.team{

}

.team-img{

}

.title3{

}

.team-text{

}

.footer{

}

.footer-logo{
    color: var(--just-black);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    size: 26px;
    letter-spacing: 3;
}

.footer-list{

}

.footer-list-item{

}

.footer-list-item-link{

}

.footer-logo span{
    color: var(--accent);
}